@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.clear{
  clear:left;
}
body {
  margin: 0;
  font-family: "Lucida Grande,Arial, Helvetica, sans-serif";
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: #fbdce1;
  opacity: 1;
}

.top-wrapper h1 {
  font-size: 24px;
  line-height: 36px;
}

.top-wrapper p {
  font-size: 14px;
  line-height: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #fbdce1;
}

.logo {
  float: left;
  color: #333;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 34px;
  font-family: Aclonica;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #eacbd0;
  color: #333;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #eacbd0;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fbdce1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-right {
  display: none;
  position: absolute;
  background-color: #fbdce1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-right a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #eacbd0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-right a:hover {
  background-color: #eacbd0;
}

.menu-icon {
  background-color: #fbdce1;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-icon:hover {
  background-color: #eacbd0;
}

.menu {
  display: none;
}

@media screen and (max-width: 850px) {
  .topnav a {
    display: none;
  }
  .topnav .dropbtn {
    display: none;
  }
  .dropdown .dropdown-content {
    display: none;
  }
  .menu {
    display: block;
  }
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fbdce1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 100%;
  top: 0;
}

.submenu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dItem{
  position: relative;
}
.dItem:hover .submenu {
  display: block;
}

.show {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  width:100%;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(http://drive.google.com/uc?export=view&id=10gyHMYUtnmFtuc0Gv7UdHRY5XWBN9ko7);
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  letter-spacing: 5px;
  font-size: 50px;
  font-family: Aclonica;
  color: #D57E7E;
  margin-bottom: 40px;
}

.top-wrapper h2 {
  opacity: 0.9;
  font-size: 30px;
  color: #6d5850;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.9;
  font-size: 20px;
  color: #6d5850;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.signup {
  background-color: #D57E7E;
  padding: 15px 40px;
  cursor: pointer;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

/*Animation*/
.container h1{
  color:#D57E7E;
  position:relative;
  animation-name:animasi;
  animation-duration:2s;
  animation-iteration-count:infinite;
}

@keyframes animasi{
  0% {left:0px;top:0px;}
  50% {color:#685f5b;left:0px;top:20px}
  100% {left:0px;top:0px;}
}

.lesson-wrapper {
  padding-bottom: 30px;
  background-color: #f7f7f7;
  text-align :center;
}

.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon{
  position:relative;
}

.lesson-wrapper img{
  height:90%;
  width:90%;
}


.txt-contents{
  width: 100%;
  display: inline-block;
  font-size: 20px;
  color:#5f5d60;
  margin-bottom: 20px;
}

.lesson-wrapper2 {
  padding-bottom: 15px;
  background-color: #f7f7f7;
  text-align :center;
}

.heading2 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading2 h2 {
  font-weight: normal;
}

.lesson2 {
  float: left;
  width: 50%;
}

.lesson-icon2{
  position:relative;
}

.lesson-wrapper2 img{
  height:80%;
  width:80%;
  padding : 0 7% 7% 7%;
}

/*Tablet*/
@media (max-width:1000px){
 
  .lesson{
      width: 30%;
  }

  .heading h2 {
      font-weight: 90%;
  }

  .lesson2 {
      width: 50%;
  }    

  .heading2 h2 {
      font-weight: 90%;
  }

  .txt-contents{
      font-size: 90%;
  }
  
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
    
}
/*Smartphone*/
@media (max-width:670px){
  
  .lesson {
      width: 50%;
  } 
  .heading h2 {
      font-weight: 80%;
  }

  .lesson2 {
      width: 100%;
  }
  .heading2 h2 {
      font-weight: 80%;
  }

    .txt-contents{
      font-size: 80%;
    }
  }
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  font-size: 20px;
}

.message {
  padding: 15px 40px;
  background-color: #e6a2a2;
  cursor: pointer;
  box-shadow: 0 7px #d87272;;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.footer {
  background-color:#e6a2a2;
  overflow:hidden;
  text-align: center;
}
.footer-col {
  width: 25%;
  margin-bottom: 30px;
  padding:50px;
  color:#0000;
  float:left;
} 

.footer-col h4{
  font-size: 20px;
  color:black;
  text-transform:capitalize;
  margin-bottom: 10px;
  font-weight:500;
  position:relative;
  
}

.foot-col ul li:not(:last-child){
  margin-bottom: 10px;
  margin-top:10px;
}
.footer-col ul li a{
  font-size: 15px;
  text-transform :capitalize;
  color:#24262b;
  text-decoration: none;
  font-weight: 300;
  color:#24262b;
  display: block;
  transition:all 0.3s ease;    
}
.footer-col ul li a :hover{
  color:#24262b;
  padding-left: 2px;
}
.footer-col .social-links a{
  display:inline-block;
  height:40px;
  width : 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  line-height: 40px;
  border-radius: 50%;
  color:#24262b;
  transition:all 0.3s ease;
}
.footer-col social-links a:hover{
  color:#24262b;
  background-color: rgb(240, 160, 160);
}